@charset "UTF-8";

body {
  color: #333;
  background-color: #ecffff;
}

.main,.header,.footer {
  width: 1190px;
  margin: 0 auto;
  //background-color: #ffffff;
}
.header {
  height: 70px;
}
.footer {
  height: 50px;
}
.main {
  min-height: 545px;
}
.header_title_h {
  height: 70px;
  line-height: 70px;
  text-align: center;
}
.title_h {
  padding: 20px 0 0 20px;

}
a {
  color: #333;
  text-decoration: none;
  &:hover {
    color: green;
  }
}