@charset "UTF-8";
/**
 * @desc: 各种按钮
 * @author: cifer
 * @date: 2015/1/20
 */
$default_font : 12px/1.5 'Lucida Grande', Arial, '\5FAE\8F6F\96C5\9ED1', '\5b8b\4f53';
button {
  margin: 5px;
}
//默认按钮
.btn {
  display:inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  font: $default_font;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 24px;//默认字体
  padding: 5px 24px;//默认距离
}

//默认，白色背景
.btn_default {
  color: #0093d5;
  background-color: #ffffff;
  border: 2px solid #0093d5;
}

//常见的
.btn_primary {
  color: #fffefe;
  background-color: #0093d5;
}

//醒目
.btn_important {
  color: #fffefe;
  background-color: #ff3300;
}

.btn_special {
  color: #fffefe;
  background-color: #09bb07;
}

//不可点击
.btn_disable {
  color: #aeaeae;
  background-color: #f0f0f0;
  border: 1px solid #d6d6d6;
}

//large button
.btn_lg {
  width: 580px;
  height: 88px;
  font-size: 30px;
}

//medium button
.btn_md {
  width: 280px;
  height: 88px;
  font-size: 30px;
}

//small button
.btn_sm {
}
//以下是比较少见的情况
.btn_default_important {
  color: #ff3300;
  background-color: #ffffff;
  border: 2px solid #ff3300;
}
.btn_default_special {
  color: #09bb07;
  background-color: #ffffff;
  border: 2px solid #09bb07;

}
.btn_default_disable {
  color: #aeaeae;
  background-color: #ffffff;
  border: 2px solid #aeaeae;
}
.btn_default_normal {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
}
.ml_sm {
  margin-left: 10px;
}
