@charset "UTF-8";
/**
 * @desc: 公共样式
 * @author: cifer
 * @date: 201/1/14
 */
.inline_block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}