@charset "UTF-8";
/**
 * @desc 全局
 * @author cifer
 * @date 2015-1-14
 */
@import "common";
@import "function";
@import "reset";
@import "footer";
@import "header";


.main_wrap {
  width: 100%;
  min-height: 565px;
  margin-top: 20px;
  .inner_wrap {
    width: 1190px;
    margin: 0 auto;
  }
}








