@charset "utf-8";
// mixin
@mixin elli{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

// class
%clearfix{
  zoom:1;
  &:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
  }
}

%indent{ text-indent: -100%; overflow: hidden;}
%border_box{ -webkit-box-sizing: border-box; box-sizing: border-box; }
