@charset "UTF-8";
/**
 * @desc 公共表单
 * @author cifer
 * @date 2016-05-10
 */
%clearfix{
  *zoom:1;
  &:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
  }
}

.mod_form_wrap {
  padding-left: 150px;
  padding-right: 220px;
  margin: 0 auto;
  border: 1px solid #e8e8e8;
}

.mod_form {
  font-size: 14px;
  padding-bottom: 75px;
  .mod_row {
    @extend %clearfix;
  }
  .mod_row_error {
    .mod_content {
      border-bottom: 1px solid #ff0000;
    }
    .mod_content_textarea {
      border-bottom: none;
    }
    .mod_content_no_border {
      border-bottom: none;
    }

    .mod_textarea {
      border: 1px solid #ff0000;
    }
  }

  .mod_row_category {
    .mod_label {
      width: 110px;
      padding-left: 30px;
    }
  }
  .mod_content {
    @extend %clearfix;
  }
  .mod_content_textarea {
    border-bottom: none;
  }
  .mod_content_no_border {
    border-bottom: none;
  }
  .mod_label {
    float: left;
    width: 120px;
    font-size: 14px;

    @extend %clearfix;
  }
  .icon_global {
    float: left;
    display: block;
    position: relative;
    right: 5px;
    text-align: center;
  }
  .label_word {
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
  }

  .mod_form_item {
    float: left;
    width: 400px;
    height: 30px;
    padding: 0 5px;
    line-height: 30px;
    font-size: 14px;
    color: #6d6d6d;
    border: 1px solid #c3c3c3;
    outline: none;
    &:focus {

      //border: 1px solid #0093d5;
    }
  }
  .mod_form_item_no_border {
    border-left: none;
  }
  .icon_check {
    right: 2px;
  }

  .mod_msg {
    height: 25px;
    line-height: 25px;
    margin-left: 125px;
    .msg_word {
      color: #ff0000;
    }
  }

  .mod_errmsg {
    //float: left;
    //height: 40px;
    //margin-left: 10px;
    //line-height: 40px;
  }
  /*input.mod_form_item {
    font-size: 14px;
  }*/
  .mod_textarea {
    height: 166px;
    padding: 25px;
    border: 1px solid #c3c3c3;
    font-size: 16px;
    font-family: 'Lucida Grande','Microsoft YaHei','SimSun',Arial;
    outline: none;
    &:focus {
      border: 1px solid #c3c3c3;
    }
  }

  //产品选择
  .mod_form_item_product {
    width: 900px;
    height: auto;
    @extend %clearfix;
  }
  .sub_category {
    float: left;
    width: 200px;
    height: 20px;
    margin-bottom: 16px;
    line-height: 20px;
    @extend %clearfix;
    .icon_check {
      float: left;
    }
    .word {
      float: left;
      margin-left: 2px;
    }
  }
  .sub_category_cur {
    .icon_check {
      background-position: -80px 0;
    }
  }

  .category_item {
    @extend %clearfix;
  }

  .category_wrap {
    margin-top: 15px;
  }

}

.mod_row_center {
  text-align: center;
}






