@charset "UTF-8";

.author-wrap{
  //padding: 40px;
}
p {
  margin-top: 10px;
  //text-indent: 2em;
}
.details {
  margin-top: 10px;
  margin-left: 20px;
  summary {
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      color: #09bb07;
    }
  }
  p {
    margin-top: 0;
    margin-left: 10px;
    text-indent: 0;
  }
  ol {
    list-style-type: decimal;
  }
  .notice {
    color: #00d586;
  }
}
