@charset "UTF-8";
/**
 * desc: global
 * User: cifer
 * DateTime: 2016/1/2 19:41
 */

@import "reset";
@import "function";
@import "mod_button";
a {
  color: #00d586;
  &:hover {
    color: #09bb07;
  }
}
.hide {
  display: none;
}
//隐藏点位
.visibility {
  visibility: hidden;
}

body{
  max-width: 100%;
  height:100%;
  background-color: #eee;
  color:#666;
  font:14px/1.5 'Lucida Grande','Arial','Microsoft YaHei','SimSun';
}
.main-wrap {
  padding: 10px 0;
}
.mod_inner {
  margin: 0 auto;
}
.mod-inner {
  margin: 0 auto;
}

.icon_global {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.icon_delete {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}
.mod_inner,.mod-inner {
  width: 1160px;
  padding: 15px;
  background-color: #fff;
}
/*@media screen and (max-width: 1191px){
  .main_wrap {
    .mod_inner,.mod-inner {
      padding: 15px;
    }
  }
}


@media screen and (min-width: 1190px){
  .mod_inner,.mod-inner {
    width: 1160px;
    padding: 15px;
    background-color: #fff;
  }
}*/



.header {
  width: 100%;
  height: 40px;
  font-size: 14px;
  background-color: #00d586;
  .mod_inner,.mod-inner {
    width: 1190px;
    padding: 0;
    background-color: transparent;
  }

  a {
    color: #fff;
  }
  ul {
    @extend %clearfix;
    .top-nav-li {
      float: left;
      box-sizing: border-box;
      width: 20%;
      height: 40px;
      max-width: 100px;
      padding: 0 5px;
      line-height: 40px;
      text-align: center;
      transition-property: background-color,color;
      transition-duration: 0.3s;
      &:hover {
        background-color: #09bb07;
        //color: #fff;
      }
    }
    .top-nav-li--active {
      background-color: #09bb07;
    }
    .top-nav-li-logo {
      color: #eee;
      @include user-select-none;
      &:hover {
        background-color: #00d586;
      }
    }

    a {
      display: inline-block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      @include elli;
    }

  }
}
footer {
  .copyright {
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  .user_pv {
    height: 20px;
    line-height: 30px;
    text-align: center;
  }
  .friends-list {
    width: 0;
    height: 0;
    @extend %indent;
  }
}

.main_inner {
  //max-width: 1242px;
  //margin: 0 auto;
  //padding: 0 10px 0px 10px;
}

.mod_arrow_left {
  font-family: simsun;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}
.mod_arrow_right {
  font-family: simsun;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

