@charset "UTF-8";
/**
 * desc: index
 * User: cifer
 * DateTime: 2016/1/2 19:31
 */
%clearfix {
  &:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
  }
}
.main_inner {
  zoom:1;
  @extend %clearfix;
}
.boat_wrap {
  width: 49.99%;
  padding-top: 10px;
  position: relative;
  box-sizing: border-box;
  animation-name: alwaysmove;
  -webkit-animation-name: alwaysmove;
  animation-duration: 20s;
  -webkit-animation-duration: 20s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  //-webkit-animation-delay: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  //-webkit-animation-direction:alternate;
}
.boat_inner {
  width: 49.99%;
  //background-color: #f0f0f0;
  box-sizing: border-box;
  animation-name: alwaysmove;
  -webkit-animation-name: alwaysmove;
  animation-duration: 20s;
  -webkit-animation-duration: 20s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  //-webkit-animation-delay: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  //-webkit-animation-direction:alternate;
  zoom:1;
  &:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
  }
}
.boat_header {
  width: 50%;
  height: 0;
  margin-left: 10%;
  border-bottom: 25px solid #886600;
  border-left: 5px solid transparent;
  border-right: 15px solid transparent;
  box-sizing: border-box;
  @extend %clearfix;
}
.boat_footer {
  width: 100%;
  height: 0;
  border-top: 25px solid #886600;
  border-left: 10px solid transparent;
  border-right: 25px solid transparent;
  box-sizing: border-box;
}
.boat_window {
  float: left;
  width: 20%;
  height: 10px;
  margin-left: 10%;
  background: #fff;
  border-radius: 50%;
  position: relative;
  top: 10px;
}

@keyframes alwaysmove {
  from {
    left: -200px;
  }
  to {
    left: 100%;
  }
}
@-webkit-keyframes alwaysmove /*Safari and Chrome*/
{
  from {
    transform: translate(0);
    -webkit-transform: translate(0);
  }
  to {
    transform: translate(100%);
    -webkit-transform: translate(100%);
  }
}
.today_movie,.history_movie {
  float: left;
  width: 40%;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 20px;
  h2 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
  }
}
.today_movie {
  .name {
    font-size: 16px;
    color: #ff0000;
  }
  .desc {
    text-indent: 2em;
  }
}

.history_movie {
  margin-left: 19%;
  li {
    &:hover {
      color: #886600;
    }
  }
}

@media screen and (max-width: 768px){
  .today_movie,.history_movie {
    width: 100%;
  }
  .history_movie {
    margin-top: 10px;
    margin-left: 0;
  }
}

