@charset "UTF-8";
/**
 * @desc 首页
 * @author cifer
 * @date 2016-05-04
 */

@import "function";
body {
  color: #363636;
  font-size: 14px;
}
header,section {
  display: block\9;
}

.body_index_header {
  .about_us_wrap {
    padding-top: 576px;
  }
}

.index_header {
  position: relative;
  color: #fff;
  box-shadow: none;
  background-color: transparent;
  .unlogin_black {
    display: none;
  }
  .unlogin_white {
    display: block;
  }
  .header_ul {
    .header_li {
      &:hover {
        a {
          color: #fff;
        }
      }
    }
  }
  a {
    color: #fff;
  }
}

.join_us_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-image: url("../../images/index/head_join_us.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                  src='../images/index/head_join_us.png',
                  sizingMethod='scale');
  background-size: cover;
  background-position: center;
}
.join_us_wrap_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-color: #000;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  opacity: 0.5;
  z-index: 10;
}


.join_us_wrap_content {
  position: absolute;
  top: 300px;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  z-index: 100;
}
.join_us_desc {
  color: #fff;
  text-align: center;
  .title {
    font-size: 65px;
    margin-top: 14px;
  }
  .word {
    font-size: 18px;
    margin-top: 11px;
  }
  .join_us_link {
    display: block;
    position: relative;
    width: 150px;
    height: 36px;
    //border: 1px solid #fff;
    border-radius: 5px;
    margin: 27px auto 0 auto;
    //line-height: 40px;
    overflow: hidden;
  }
  .join_us_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    /*filter: alpha(opacity=31);
    -moz-opacity: 0.31;
    opacity: 0.31;*/
    text-align: center;
    background-color: #e9eaea;
  }
  .join_us_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    line-height: 36px;
    color: #313131;

  }
}


.center_wrap {

}

//关于我们
.about_us_wrap {
  /*width: 1130px;
  margin: 0 auto;*/
  padding-top: 636px;
  .title {
    font-size: 34px;
    height: 112px;
    line-height: 112px;
  }
  .about_pic_list {
    @extend %clearfix;
    overflow: hidden;
    //height: 490px;
    .about_pic {
      position: relative;
      float: left;
      width: 343px;
      height: 489px;
      margin-left: 40px;
      img {
        width: 343px;
        height: 489px;
      }
    }
  }
}

//我们的服务
.our_service_wrap {
  .title {
    height: 112px;
    padding-top: 34px;
    line-height: 112px;
    font-size: 34px;
  }
  .our_service_pic {
    width: 100%;
    height: 490px;
    background-image: url("../../images/index/our_service.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src='../images/index/our_service.png',
                    sizingMethod='scale');
    background-size: cover;
    background-position: center;
  }
  .pic_title {
    width: 100%;
    text-align: center;
    font-size: 48px;
    color: #fff;
    padding-top: 165px;
  }
  .btn {
    width: 240px;
    margin: 70px auto 0 auto;
  }
  .apply_btn {
    display: block;
    width: 240px;
    height: 50px;
    border: 1px solid #0399e5;
    border-radius: 5px;
    background-color: #0399e5;
    text-align: center;
    font-size: 24px;
    color: #fff;
  }
}


.mod_head_wrap {
  height: 112px;
  margin-top: 34px;
  line-height: 112px;
  @extend %clearfix;
  .mod_title {
    width: 160px;
    float: left;
    font-size: 34px;
  }
  .mod_list {
    float: left;
    @extend %clearfix;
    .li {
      float: left;
      font-size: 18px;
      cursor: pointer;
    }
    .cur {
      color: #0399e5;
    }
    .separate {
      width: 23px;
      text-align: center;
      cursor: default;
    }
  }
  .mod_more {
    float: right;
  }
}

//产品中心
.product_wrap {
  .product_hd {
    /*height: 112px;
    margin-top: 34px;
    line-height: 112px;
    @extend %clearfix;*/
  }
  .title {
    /*width: 160px;
    float: left;
    font-size: 34px;*/
  }
  .product_type_list {

  }
  .product_more {
    /*float: right;*/
    margin-right: 10px;
  }
  .product_bd {
    position: relative;
    .slider_btn {
      display: block;
      position: absolute;
      top: 210px;
      width: 48px;
      height: 75px;
      background: #b6b6b6;
      color: #fff;
      font-size: 50px;
      text-align: center;
    }
    .pre_btn {
      left: 40px;
    }
    .next_btn {
      right: 40px;
    }
  }

  .slider_list {
    *position: relative;
    height: 488px;
    overflow: hidden;
    @extend %clearfix;
    li {
      float: left;
      box-sizing: border-box;
      border: 1px solid #d7d7d7;
      width: 370px;
      height: 488px;
      margin-left: 20px;
      .link {
        display: block;
        width: 368px;
        height: 488px;
        position: relative;
        .img {
          width: 368px;
          height: 368px;
        }
      }
      a {
        &:hover {
          color: #363636;
        }
      }
    }
    .product_desc {
      position: absolute;
      width: 200px;
      height: 70px;
      left: 30px;
      bottom: 23px;
      font-size: 24px;
      .name {
        font-size: 18px;
      }
      .word {
        margin-top: 10px;
        font-size: 12px;
        color: #0399e5;
      }
    }
  }
  .bar_wrap {
    width: 100%;
    text-align: center;
    .bar {
      display: inline-block;
      padding: 0 8px;
      min-width: 110px;
      height: 36px;
      overflow: hidden;
      text-align: center;
      border-radius: 20px;
    }
    li {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 10px;
      height: 10px;
      opacity: 0.5;
      filter: alpha(opacity=50);
      cursor: pointer;
      margin: 10px 0 10px 3px;
      background-color: #bcbccc;
      border: #989696 solid 1px;
      border-radius: 50%;
      overflow: hidden;
    }
    .cur {
      background-color: #2f353d;
    }
  }
}

//金融服务
.financial_wrap {
  .financial_item {
    padding-bottom: 10px;
  }
  .invert_btn {
    display: block;
    width: 230px;
    height: 45px;
    line-height: 45px;
    margin: 60px auto 0 auto;
    border-radius: 5px;
    background-color: #0399e5;
    color: #fff;
    font-size: 24px;
    text-align: center;
  }
}

.news_wrap {
  @extend %clearfix;
  margin-bottom: 60px;
  .main_news {
    position: relative;
    float: left;
    width: 550px;
    height: 320px;
    .main_img {
      width: 550px;
      height: 320px;
    }
  }

  .main_bg {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0px;
    line-height: 40px;
    left: 0;
    font-size: 12px;
    background-color: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.60;
    opacity: 0.6;
  }
  .main_title {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 382px;
    height: 40px;
    padding-left: 70px;
    color: #ffffff;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
  }
  .news_list {
    float: left;
    width: 400px;
    height: 320px;
    list-style-type: square;
    overflow: hidden;
    padding: 10px 0 10px 45px;
    font-size: 16px;
    .news_li {
      width: 100%;
      height: 30px;
      @include elli;
    }
  }
}


