@charset "UTF-8";
@import "../common/function";

.my_share {
  /*width: 50%;
  margin-left: 25%;
  padding: 20px;
  border: 1px solid #eee;
  background-color: #fcfcfc;*/
  .title {
    //margin: 10px 0;
  }
}

.blog-ul {
//  padding-top: 10px;
  .blog-li {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    border-radius: 3px;
    transition-property: background-color,color;
    transition-duration: 0.3s;
    &:hover {
      background-color: #eee;
      .num,.name,.date,.pv {
        color: #09bb07;
      }
    }
  }

  .blog-a {
    display: block;
    height: 30px;
    color: #bbb;
    font-size: 12px;
    @extend %clearfix;

  }
  .num {
    float: left;
    display: block;
    width: 24px;
    height: 30px;
    line-height: 30px;
    @include user-select-none;
  }
  .name {
    float: left;
    display: block;
    width: 400px;
    height: 30px;
    color: #555;
    font-size: 14px;
    line-height: 30px;
    @include elli;
  }

  .date {
    float: left;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
  }
  .pv {
    float: left;
    display: block;
    width: 80px;
    height: 30px;
    margin-left: 40px;
    line-height: 30px;
    @include elli;
  }
}

.title {
  display: none;
  height: 40px;
  line-height: 40px;
  font-weight: normal;
}
.new_blog_btn {
  margin-top: 30px;
}

.my_demo {
  margin-top: 60px;
  .demo_title {
    margin-top: 20px;
  }
  .demo_list {
    margin-top: 10px;
  }
}

