@charset "UTF-8";

.bookmark_class_table {
  a {
    color: #666;
  }
}

.site_icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.bookmark_name,.bookmark_link {
  margin-left: 10px;
}
.bookmark_a {
  cursor: pointer;
}